

h1 {
    // padding-top: 150px;
    margin  : 0;
    font-size: 6.9rem;
    @include media($breakpointOne) {
        font-size: 6rem;
    }
    @include media($breakpointTwo) {
        font-size: 5rem;
    }
    @include media($breakpointFour) {
        font-size: 2.5rem;
    }

    
}



.vertical {
    writing-mode: vertical-lr;
}

.scroll {
    position: absolute;
    bottom: 25px;
    
    // padding-left: 50px;
    left: calc(50% - 25px);
    p {
        transform: rotateZ(90deg);
        font-size: 0.9rem;
        letter-spacing: 2px;
    }
    svg {
        padding-top: 25px;
        width: 25px;
    }
    
}

header {
    background-image: linear-gradient(to top right, $lightAccent 40%, $lightPrimary 60%), url("../assets/image-1.jpeg");
    background-size: cover;
    // background-position-y: 70%;
    // background-attachment: fixed;
    background-position: top;
    min-height: 100vh;
    text-align: center;
    position: relative;
    // padding:2%;
    padding: 2% 25px;

    // color: $primaryWhite;
    .wrapper {
        width: 100%;
        max-width: 1350px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li a:hover {
            color: $primaryAccent;
        }
    }
    .fas,
    p,
    h1,
    a {
        color:$primaryWhite;
    }
    ul {
        flex: 0 0 50%;
        display: flex;
        justify-content: space-between;
    }

    a,
    p {
        font-size: 1.2rem;
        font-weight: $fontLight;
    }
    p {
        text-transform: uppercase;
        margin: 0;
        @include media($breakpointFour) {
            font-size: 1rem;
        }
    }
    figure {
        margin: 0;
        padding: 0 0px;
        flex: 0 0 25%;
    }
    aside {
        flex: 0 0 25%;
        @include media($breakpointThree) {
            display: none;
        }
    }
    aside:last-of-type {
        text-align: right;
        
    }

    .flex-container {
        padding-top: 150px;
        justify-content: space-between;
        align-items: center;
        .middleFlex{
            flex: 0 0 50%;
            @include media($breakpointThree) {
                flex: 1 0 100%;
            }
        }

        @include media($breakpointThree) {
            justify-content: center;
        }
        @include landscapeMedia($heightBreakpointOne, $landscapeBreakpointOne) {
           padding-bottom: 150px;
        }
    }

    nav figure:last-of-type {
        display: flex;
        align-items: center;
        // margin-left: 22px;
        justify-content: flex-end;
        text-align: right;
        .fas {
            font-size: 1.2rem;
        }
        img {
            border-radius: 50%;
            border: 1px solid white;

            margin: 0 10px 0 25px;

            $size: 15px;
            width: $size;
            height: $size;
        }
        @include media($breakpointTwo) {
            display: none;
        }
    }
    .logo {
        width: 33%;
        @include media($breakpointOne) {
            width: 50%;
        }
        @include media($breakpointTwo) {
            width: 70%;
        }
        @include media($breakpointThree) {
            width: 90%;
        }
        @include media($breakpointFour) {
            width: 100%;
        }
    }
}

aside p {
    text-transform: lowercase;
}

.imageIndex{
    position: relative;
    p {
        font-size: 1.3rem;
        padding: 5px 0;
    }
    i {
        position: absolute;
        right:3px;
        top:7px;
        transform: scale(-1.5,1.5);
        color: rgba(255,255,255,0.8);
    }
}

.hamburger {
    position: fixed;
    text-shadow: 1px 1px 0 $primaryBlack;
    z-index: 50;
    display: none;
    right: 20px;
    top: 10px;
    @include media($breakpointTwo) {
        display: block;
    }
}
.hamburger,
.exit-responsive {
    cursor: pointer;
    font-size: 2.5rem;
}
.topMenu {
    display: flex;
    @include media($breakpointTwo) {
        display: none;
    }
}
.exit-responsive {
    position: absolute;
    left: 22px;
    top: 0px;
    padding: 0;
}

.fullScreenMenu {
    ul {
        flex-direction: column;
        justify-content: flex-start;
        @include absoluteFill;
        li:not(.exit-responsive) {
            padding: 25px;
        }
        a {
            font-size: 2rem;
        }
    }
    @include absoluteFill;
    position: fixed;
    background: $primaryBlack;
    color: $primaryWhite;
    z-index: 20;
    display: none;
    // font-size: 20rem;
    
    
}
 

//This is for jQuery button!
.show {
    display: block;
}
.hide {
    display: none;
}