footer {
    @include flexCenter;
    flex-direction: column;
    background: $navFooterBackground;
    color: $primaryWhite;
    padding: 10px 0;

        a {
            @include fontSize(16);
        }
}